body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header e Footer */

header{
    background-image: linear-gradient(#003366, #006699);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* para ser exibido em múltiplas linhas quando não colber em uma linha só */
}

footer{
    background-color: #003366;
    margin-top: auto;
}

header, footer{
    color: white;
    padding: 0.5em;
}

footer a{
    color: white;
    text-decoration: none;
}

div#logo{
    margin: auto 0;
}

div#logo * {
    vertical-align: middle;
    margin-left: 00.5em;
}

div#logo span{
    font-size: 2em;
    font-weight: bold;
}

div#usuarioInfo span, footer span{
    display: block;
    margin-bottom: 0.5em;
}

div#usuarioInfo{
    text-align: right;
}

div#usuarioInfo a.botao{
    border: 1px solid #ffffff;
}

@media screen and (max-width: 440px){
    div#usuarioInfo{
        margin-top: 1em;
        text-align: left;
    }
}

/* NAV */

nav{
    background-color: #383838;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #cccccc;
    color: #383838;
}

nav div#dropdown_menu{
    display: none;
    position: absolute;
    background-color: #383838;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px 0;
}

nav div#dropdown_menu a{
    display: block;
}

nav ul li#dropdown:hover div#dropdown_menu{
    display: block;
}

@media screen and (max-width: 700px){
    nav ul li{
        display: block;
        width: 100%;
    }

    nav ul li a{
        width: 100%;
    }
}

/* Tabelas */

table{
    border-spacing: 0.1em;
    margin: 0.5em auto;
    width: 100%;
    /* Responsivo - cria uma barra de rolagem na horizontal para a tabela, por isso o eixo x */
    overflow-x: auto;
    display: block;
}

table th{
    background-color: #003366;
    color: #fff;
}

table td, table th{
    padding: 0.5em;
}

/* para mudar a cor das linhas ímpares da tabela que estão apenas no tbody */
table tbody tr:nth-child(odd){
    background-color: #c6d4e2;
}

/* para mudar a cor das linhas pares da tabela que estão apenas no tbody */
table tbody tr:nth-child(even){
    background-color: #e7ecf1;
}

table tbody tr:hover{
    background-color: #cccccc;
}

table tfoot td{
    border-top: 1px solid #003366;
    text-align: center;
}

 /*  table td:last-child se referindo as células da última coluna -------- table td.fit se referindo as células que possuem a classe fit*/
table td:last-child, table td.fit{
    width: 1%;
    text-align: center;
    white-space: nowrap; /* propriedade para tratar o espaço em branco. Este valor não deixa quebra a linha */
}

/* Formulário */

form{
    margin: auto;
    text-align: right;
    width: fit-content;
}

form div.grid{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 0.5em;
}

form label::after{ /* serve para ser feita alterações após(por isso after) o label. Nesse caso acrescentar : */
    content: ":";
}

input, select{
    height: 2em;
    border: 1px solid #757575;
    box-sizing: border-box; /* para que fiquem todos igualados, com a mesma medida, tanto input quanto select */
}

form div.grid input, form div.grid select{
    width: 18em;
}

input:required:invalid, 
select:required:invalid{ /* para fazer alteração apenas nos inputs e selects que tiverem required e que não estiverem preenchidos*/
    border: 1px solid red;
}

@media screen and (max-width: 700px){
    form div.grid{
        grid-template-columns: 1fr;
    }

    form{
        width: 85%;
        text-align: left;
    }

    form div.grid input, form div.grid select{
        width: 100%;
    }
}

/* Botões */

a.botao, input[type="button"], input[type="submit"]{
    color: #ffffff;
    border: none;
    cursor: pointer;
    background-color: #2c832c;
    border-radius: 4px;
}

a.botao:hover, 
input[type="submit"]:hover, 
input[type="button"]:hover{
    background-color: #1e5e20;
}

input, select, a.botao{
    font-size: 1em;
}

input[type="submit"], 
input[type="button"]{
    height: 2em;
}

a.botao {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    padding: 0 0.4em;
}

a.botao.excluir{
    background-color: #c42626;
}

a.botao.excluir:hover{
    background-color: #811b1b;
}